# Core libraries
numpy
pandas

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn

# Model saving
joblib

# Notebook support
jupyter
ipykernel

# Env config
python-dotenv

# API (optional deployment)
fastapi
uvicorn

# Validation
pydantic

# Database (MongoDB)
pymongo
certifi

# Editable install
-e .